<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        select, input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
        }

        #userDetails p {
            text-align: left;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1>User Details</h1>
    <div class="container">
        <label for="inputType">Select Input Type:</label>
        <select id="inputType">
            <option value="id">User ID</option>
            <option value="emailAddress">Email Address</option>
        </select>

        <div id="idInput">
            <label for="id">User ID:</label>
            <input type="text" id="id">
        </div>

        <div id="emailInput" style="display: none;">
            <label for="emailAddress">Email Address:</label>
            <input type="text" id="emailAddress">
        </div>

        <button onclick="getUserDetails()">Get User Details</button>

        <div id="userDetails">
            <!-- User details will be displayed here -->
        </div>
    </div>

    <script>
        function getUserDetails() {
            const inputType = document.getElementById("inputType").value;
            const inputValue = inputType === "id"
                ? document.getElementById("id").value
                : document.getElementById("emailAddress").value;

            // Create custom headers including CORS header
            const headers = new Headers();
            headers.append("Origin", "http://localhost:8080"); // Replace with your frontend URL

            fetch(`http://localhost:8081/getUserDetails/v1?${inputType}=${inputValue}`, {
                method: "GET",
                headers: headers,
            })
                .then(response => response.json())
                .then(data => {
                    const userDetails = data.userInfo[0];
                    const userDetailsDiv = document.getElementById("userDetails");
                    userDetailsDiv.innerHTML = `
                        <h2>User Details:</h2>
                        <p>ID: ${userDetails.id || ''}</p>
                        <p>First Name: ${userDetails.firstName || ''}</p>
                        <p>Last Name: ${userDetails.lastName || ''}</p>
                        <p>Email Address: ${userDetails.emailAddress || ''}</p>
                        <p>Created At: ${userDetails.createdAt || ''}</p>
                        <p>Deleted At: ${userDetails.deletedAt || ''}</p>
                        <p>Merged At: ${userDetails.mergedAt || ''}</p>
                        <p>Parent User ID: ${userDetails.parentUserId || ''}</p>
                        <p>Is Parent: ${userDetails.isParent || ''}</p>
                        <p>Is Deleted: ${userDetails.isDeleted || ''}</p>
                    `;
                })
                .catch(error => {
                    console.error("Error fetching user details:", error);
                });
        }

        // Show/hide input fields based on selected input type
        document.getElementById("inputType").addEventListener("change", function () {
            const selectedInputType = this.value;
            if (selectedInputType === "id") {
                document.getElementById("idInput").style.display = "block";
                document.getElementById("emailInput").style.display = "none";
            } else {
                document.getElementById("idInput").style.display = "none";
                document.getElementById("emailInput").style.display = "block";
            }
        });
    </script>
</body>
</html>